$breadcrumb-active:#337AB7;
$header-background: #6699CC;
$header-border: #336699;
$success:#5CB85C;
$info:#5BC0DE;
$info-border:#46B8DA;
$gray-border:#DDDDDD;
$gray-fill:#F5F5F5;
$gray-hover:#ececec;
$text-secondary:#A3A3A3;
$text-gray:#828282;
$code_fill:#777777;
$spoiler-fill:#D9EDF7;
$spoiler-border:#BCE8F1;
$spoiler-text:#31708F;
